[Unit]
Description=TATU Web Server (Drogon)
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/opt/tatu_web/build
ExecStartPre=/bin/mkdir -p /opt/tatu_web/build/static /opt/tatu_web/build/uploads
ExecStartPre=/bin/chown -R www-data:www-data /opt/tatu_web/build/static /opt/tatu_web/build/uploads
ExecStart=/opt/tatu_web/build/tatu_web
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
